<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-teal-900 sm:text-4xl">
        Share your lovely place
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-300">
        How do you feel?
      </p>
    </div>
    <div *ngIf="showForm"
      class="mx-auto mt-10 grid max-w-2xl grid-rows-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-rows-1 justify-center">
      <form (ngSubmit)="newPlace(newPlaceForm)" #newPlaceForm="ngForm">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="flex items-center gap-x-4 text-xs mb-1 justify-between">
          <div>
            <time [dateTime]="date" class="text-gray-500">{{date}}</time>
          </div>
          <div *ngIf="placeInfo !== undefined">
            <p>{{placeInfo.country}}</p>
            <p>{{placeInfo.city}}</p>
          </div>
        </div>

        <div class="px-6 py-4">
          <label class="block mb-6">
            <span class="text-teal-700 font-bold">Give it a title</span>
            <input required ngModel name="title" type="text" class="
            block
            w-full
            mt-1
            border-gray-300
            rounded-md
            shadow-sm
            focus:border-indigo-300
            focus:ring
            focus:ring-indigo-200
            focus:ring-opacity-50
          " placeholder="The dreaming hill" />
          </label>
          <label class="block mb-6">
            <span class="text-teal-700">Tell us more about this place</span>
            <textarea ngModel name="description" class="
            block
            w-full
            mt-1
            border-gray-300
            rounded-md
            shadow-sm
            focus:border-indigo-300
            focus:ring
            focus:ring-indigo-200
            focus:ring-opacity-50
          " rows="3" placeholder="It's a peacefull hill along the..."></textarea>
          </label>
          <label class="block mb-6">
            <span class="text-gray-700">Photo</span>
            <input required ngModel name="imgUrl" type="text" placeholder="url" class="
            block
            w-full
            mt-1
            focus:border-indigo-300
            focus:ring
            focus:ring-indigo-200
            focus:ring-opacity-50
          " />
          </label>
        </div>
        <div class="w-full flex flex-row justify-center">
        <button type="submit" class="bg-teal-500 hover:bg-teal-600 text-white font-semibold rounded-md w-full py-2 px-4 m-3">Send</button>
        </div>
      </div>
      </form>
    </div>
    <div *ngIf="errorMessage !== undefined && errorMessage !== '' " class="border-red-200 border p-5 bg-red-100">
      <p class="text-red-500">{{errorMessage}}</p>
    </div>
  </div>
</div>
